body {
  background-color: #8080806e;
  margin: 0;
}

header {
  width: 100%;
  background-color: black;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin: 0 10px;
}

.navbar-list li:first-child {
  margin-left: 0;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.navbar-list li a:hover {
  border-bottom-color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.form {
  flex: 1;
  width: 100%;
  max-width: 470px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#map {
  flex: 1;
  width: 100%;
}

h1 {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input[type="text"],
form input[type="time"],
form input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}

.chat {
  max-width: 400px;
  margin: -15px auto ;
  margin-bottom: 20px;
  background-color: #0095ff36;
  padding: 30px;
  border-radius: 50px 0 55px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.chat.show {
  display: block;
}

.chat .message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
}

.chat .message.sent {
  background-color: #f0f0f0;
  text-align: right;
}

.chat .message.received {
  background-color: #e6f2ff;
  text-align: left;
}

/* Estilos responsivos */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  
  .form {
    width: 50%;
  }
  
  #map {
    width: 50%;
  }
  
  .navbar {
    justify-content: flex-start;
  }
  
  .navbar-list {
    justify-content: flex-end;
  }
  
  .navbar-list li {
    margin: 0 10px;
  }
}
